body{
   background-color: sandybrown;
}

h1{
    background-color: aquamarine;
    color: rgb(36, 1, 1);
}
h2{
    background-color: rgb(46, 185, 220);
    color: rgb(20, 19, 19);
}
ul{
    color:royalblue;
}